body {
    margin: 0;

    background-color: $body-bg;

    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $base-color;
}
.container{
    margin-left: 15%;
    margin-right: 15%;
    width:auto;
}

.section-flowers {
    height: 650px;
    background-image: url(img/bridge.jpg);
}